@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,700;1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
    font-family: 'Be Vietnam Pro', sans-serif;
    letter-spacing: -0.04em;
}
html, body {
    position: relative;
    background-color: #EAE7DD;
    z-index: -100;
}

h1,h2,h3,h4,h5,h6,p {
    color: #2B2621;
    /* line-height: 200%; */
}